{{#link-to 'motifs.show' motif.id}}
  {{motif-letterbox motif=motif}}
  <div class="title">
    <div class="color-tag" style="border-top-color: {{motif.hex_color}};"></div>
    <h1>{{motif.name}}</h1>
  </div>
{{/link-to}}
