<div class="color-tag" style="border-top-color: {{motif.hex_color}};"></div>
{{link-to motif.name 'motifs.show' motif.id}}
<a href="#" {{action "removeMotif" on='click' bubbles=false}} class='remove'><i class="icon-close-small"></i></a>
