$icomoon: "icomoon";
$soleil: "soleil";

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$heavy: 800;
$black: 900;

@mixin h1() {
  font-size: 3.6rem;
  font-weight: $semi-bold;
  margin: $margin-md 0;
}

@mixin h2() {
  font-size: 2.4rem;
  font-weight: $light;
  margin: $margin-md 0;
}

@mixin h2-sub() {
  font-size: 2.2rem;
  font-weight: $semi-bold;
  margin: $margin-md 0;
}

@mixin h3() {
  font-size: 1.8rem;
  font-weight: $light;
  margin: $margin-md 0;
}

@mixin h3-sub() {
  font-size: 1.6rem;
  margin: $margin-md 0;
}

@mixin h4() {
  font-size: 1.4rem;
  font-weight: $semi-bold;
  letter-spacing: 1px;
  margin: $margin-sm 0;
}

@mixin time-span() {
  font-size: 1.4rem;
  font-weight: $light;
}

@mixin user-info-span() {
  font-size: 1.2rem;
  font-weight: $light;
}
