// This style of zindex comes from this http://www.smashingmagazine.com/2014/06/sassy-z-index-management-for-complex-layouts/

$body-elements: main, header, panel;

$video-upload: gradient, title, button, search; //Also used for motif pages

$index-elements: video, button;
