{{#panel-medium}}
    {{panel-header onClose='back'}}
    <div class="form-container">
        <h1>Add a Video</h1>
        {{add-video-form createVideo='createVideo' errors=errors}}
    </div>
{{/panel-medium}}